body{
    text-align: center;
}
ul{
    list-style: none;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    justify-items: center;
    align-items: center;
}
.centertable{
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 40%;
}
/* class container to make it grid */
.container{
    display:grid;
    grid-auto-rows: minmax(57px,auto);
    grid-template-areas: 
    "head head head head head head"
    "sl cont cont cont cont cont"
    "sl cont cont cont cont cont"
    "sl cont cont cont cont cont"
    "sl cont cont cont cont cont"
    "sl cont cont cont cont cont"
    "foot foot foot foot foot foot";
}
.box{
    text-align: center;
}
.head{
    display: grid;
    grid-area: head;
    background-color: #31365a;
    color: #f1f1f1;
    align-items: center;
    font-family: "Poppins",sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 65px;
    font-size: 30px;
}
.sl{
    grid-area: sl;
    background-color: lightgray;
    display: grid;
}
.cont{
    grid-area: cont;
}
.footer{
    grid-area: foot;
}

.responsiveSP{
    background: rgb(5, 68, 104);
    position: fixed;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    font-family: "Poppins",sans-serif;
}
.sl ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}
.sl ul li a:hover,
.sl ul li a.active{
    color: #0c7db1;
    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}
.sl ul li a:hover:before,
.sl ul li a.active:before{
    display: block;
}
a{
    text-decoration: none;
}